.ingredient-form-container {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

#ingredientName {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.message {
    margin-top: 10px;
    color: red;
}