.form-group-container {
    /*width: 300px;*/
    width: 100%;
    padding: 15px;
    /*margin: 0 auto;*/
}
.floating-group{
    position:relative;
    margin-bottom:20px;
}
.floating-label {
    top: 0;
    left: 0;
    padding: 5px 8px;
    border: 1px solid #22272b;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #22272b;
    border-radius: 4px;
    transition: 0.2s ease all;
    min-width: 16vh;
}
.floating-input::placeholder {
    color: #aaa;
    opacity: 1;
    transition: 0.2s ease all;
}

.floating-input:focus {
    outline: none;
    border-color: rgba(34, 39, 43, 0.68);
}

.floating-input:focus + .floating-label,
.floating-input:not(:placeholder-shown) + .floating-label {
    top: -38px;
    font-size: 13px;
    border-radius: 5px;
    background: #fddb0d;
    color: #020101;
    height: auto;
    padding: 5px 8px;
}

.floating-input:focus::placeholder {
    opacity: 1;
}

.floating-input{
    font-size:12px;
    display:block;
    width:100%;
    height:36px;
    padding: 0 20px;
    background: #fff;
    color: #323840;
    border: 1px solid #22272b;
    box-sizing: border-box;

}

.floating-textarea::placeholder {
    color: #aaa;
    opacity: 0;
    transition: 0.2s ease all;
}

.floating-textarea:focus {
    outline: none;
    border-color: rgba(34, 39, 43, 0.68);
}

.floating-textarea:focus + .floating-label,
.floating-textarea:not(:placeholder-shown) + .floating-label {
    top: -38px;
    font-size: 13px;
    border-radius: 5px;
    background: #fddb0d;
    color: #020101;
    height: auto;
    padding: 5px 8px;
}

.floating-textarea:focus::placeholder {
    opacity: 1;
}

.floating-textarea{
    font-size:12px;
    display:block;
    width:100%;
    padding: 0 20px;
    background: #fff;
    color: #323840;
    border: 1px solid #22272b;
    box-sizing: border-box;
    resize: none;
}

.floating-textarea.no-rows {
    height: 36px;
}

.floating-textarea[rows] {
    height: auto;
}

.error-container {
    display: none;
    align-items: center;
    margin-left: 10px;
    color: red;
}
.error-icon {
    font-size: 18px;
    margin-right: 5px;
}

.error-message{
    color: red;
    padding: 5px 5px 5px 0px;
    font-weight: bold;
}
.is-invalid {
    border-color: #ff0018;
}
/*.is-invalid + .error-container {*/
/*    display: block;*/
/*}*/

.is-invalid + .floating-label {
    background: #ff0018;
    color: #ffffff;
    border-color: #ff0018;
}

.is-invalid {
    border-color: #ff0018;
}

.is-invalid:focus + .floating-label {
    background: #ff0018;
    color: #ffffff;
}

.floating-select {
    font-size: 12px;
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 20px;
    background: #fff;
    color: #323840;
    border: 1px solid #22272b;
    box-sizing: border-box;
    position: relative;
}

.floating-select option[value=""] {
    color: #aaa; /* Placeholder color */
}

.floating-select:focus {
    outline: none;
    border-color: rgba(34, 39, 43, 0.68);
}

.floating-label.active {
    top: -38px;
    font-size: 13px;
    border-radius: 5px;
    background: #fddb0d;
    color: #020101;
    height: auto;
    padding: 5px 8px;
    transition: 0.2s ease all;
}


.btn.active {
    color: #020101;
    background-color: #fddb0d;
    border-radius: 14px;
    font-weight: bold;
}

.btn {
    color: #ffffff;
    background-color: #343a40;
    border-radius: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.btn.active:hover {
    text-decoration: underline;
}

.btn:hover {
    color: #020101;
    background-color: #fddb0d;
}

.select-picker-new{
    background-color: #fff !important;
    border: 1px solid #020101 !important;
    padding: 7px 12px !important;
    font-size: 14px !important;
    font-weight: normal !important;
    box-shadow: none !important;
    border-radius: 4px !important;
    min-width: 10vh;
}

.select-picker-new .filter-option {
    color: #aaa !important;
}
.select-picker-new .filter-option-inner-inner {
    color: #020101 !important;
}

@media (max-width: 576px) {

}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (min-width: 1200px) {

}