.meal-form-container {
    margin: 2% auto;
    padding: 1% 0;
    width: 90%;
    min-height: 70vh;
    background-color: rgba(255, 255, 255, 90%);
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.meal-board-container {
    white-space: nowrap;
    padding: 10px;
    max-width: 100%;
}

.meal-board-table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    align-items: center;
    text-align: center;
    min-width: 1200px;
}

.meal-type-header,
.day-header {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 2px solid #ccc;
}

.meal-type-name {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #eaeaea;
    border-right: 2px solid #ccc;
}

.meal-select {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.meal-select select {
    width: 100%;
    min-width: 120px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.meal-box {
    width: 200px;
    height: 325px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
}
.meal-box:hover{
    outline: none;
    border-color: rgba(34, 39, 43, 0.68);
}

.meal-content {
   text-align: left;
}
.meal-day {
    font-weight: bold;
    margin-bottom: 10px;
}

.meal-type {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: normal;
    max-height: 2.8em;
    font-size: 14px;
}

.meal-text {
    display: inline;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

@media (max-width: 900px) {
    .day-header::after {
        content: attr(data-short);
    }
}

@media (max-width: 768px) {
    .meal-board-table {
        grid-template-columns: minmax(100px, auto) repeat(7, minmax(80px, 1fr));
    }

    .meal-select select {
        min-width: 80px;
    }
}
