@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Work+Sans:wght@600&display=swap");

body {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0;
}

.wrapper {
    flex: 1;
}

input {
    border-radius: 0 !important;
}

h1:after {
    content: "";
    display: block;
    width: 82px;
    height: 3px;
    margin: 10px 0 40px;
}

.login-form{
    width: 400px;
    border-radius: 4px;
    margin: 2em auto;
    padding: 3em 2em 2em 3em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    color: black !important;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

img{
    max-width: 256px;
    max-height: 256px;
}

.login-form a{
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.login-form a{
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.form-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}
 .center-content {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     flex-direction: column;
 }
