.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.search-bar {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
}

.filter-buttons button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    min-width: 120px;
    text-align: center;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 20px;
}

.item-link,
.item-link:visited,
.item-link:hover,
.item-link:focus,
.item-link:active {
    text-decoration: none;
    color: inherit;
    display: block;
}

.item-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    min-width: 0;
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: 0.6s ease;
}

.item-container:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.6s ease;
}

.icon {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.meal-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 0;
    max-width: calc(100% - 75px);
    text-align: left;
    padding-left: 10px;
}

.item-name {
    font-size: 16px;
    color: #333;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    align-self: flex-start;
    width: 100%;
}

.item-description {
    font-size: 14px;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    margin: 0;
    align-self: flex-start;
    width: 100%;
}

.no-image {
    width: 60px;
    height: 60px;
    background-color: #f1f1f1;
    color: #888;
    font-size: 14px;
    border-radius: 10%;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 5px;
}

.pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #0056b3;
}

.suggestions {
    display: flex;
    flex: 2;
    position: relative;
    max-width: 550px;
}

#searchInput {
    width: 100%;
    box-sizing: border-box;
}

.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 37px 0 0;
    background-color: white;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    max-width: 550px;
    max-height: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}

.suggestions-list.show {
    display: block;
    text-align: left;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}


@media (max-width: 576px) {
    .item-container:hover {
        transform: none;
    }
    .filter-container {
        flex-direction: column;
    }

    .filter-buttons {
        justify-content: center;
    }

    .suggestions {
        width: 100%;
    }
    .item-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        margin: 20px;
    }
}

@media (max-width: 768px) {
    .item-container:hover {
        transform: none;
    }
}

@media (max-width: 992px) {
    .item-container:hover {
        transform: none;
    }
}

@media (min-width: 1200px) {

}