.history-bar {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.history-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 0;
}

.history-button:hover {
    background-color: #e2e6ea;
}

.icon {
    margin-right: 10px;
}

.details {
    padding: 5px;
    flex-grow: 1;
    font-weight: bold;
    color: #333;
}

.history-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 20px;
}

@media (max-width: 576px) {
    .filter-container {
        flex-direction: column;
    }

    .history-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        margin: 20px;
    }
}