.history-bar {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.history-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.history-button:hover {
    background-color: #e2e6ea;
}

.icon {
    margin-right: 10px;
}

.details {
    padding: 5px;
    flex-grow: 1;
    font-weight: bold;
    color: #333;
}