@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Work+Sans:wght@600&display=swap");

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../images/bg-tlo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


footer {
    background: #22272b;
    color: white;
    height: 100px;
    margin-top: auto;
}

#page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#content-wrap {
    flex: 1;
    padding: 5px 5px 5px 5px;
}

input {
    border-radius: 0 !important;
}

h1:after {
    content: "";
    display: block;
    width: 82px;
    height: 3px;
    margin: 10px 0 40px;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}

.hover-text {
    position: relative;
    display: inline-block;
    font-family: Arial, serif;
    text-align: center;
}


.error-message{
    color: red;
    padding: 5px 5px 5px 0px;
    font-weight: bold;
}
.is-invalid {
    border-color: #dc3545;
}

label {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}


@media (min-width: 576px) {
    .form-container {
        max-width: 540px;
        max-height: 400px;
    }
}

@media (min-width: 768px) {
    .form-container {
        max-width: 720px;
        max-height: 500px;
    }
}

@media (min-width: 992px) {
    .form-container {
        max-width: 960px;
        max-height: 600px;
    }
}

@media (min-width: 1200px) {
    .form-container {
        max-width: 1140px;
        max-height: 700px;
    }
}

.form-container {
    margin: 5% auto;
    padding: 3%;
    width: 90%;
    height: 80%;
    overflow-y:auto;
    background-color: rgba(255, 255, 255, 90%);
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}