header {
    min-height: 100px;
}

header a {
    color: white;
    text-decoration: none;
}
nav,
header {
    background: #005da2;
    color: white;
}

footer {
    min-height: 100px;
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 2.5rem;
}

footer a {
    color: white;
    text-decoration: none;
}
nav,
footer {
    background: #005da2;
    color: white;

}

.goRight {
    text-align: right;
}
.goCenter {
    text-align: center;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}