<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Posiłek</title>
</head>
<body>
<h2>Dodaj Posiłek</h2>
<form th:action="@{/meal/addMealWeb}" method="post" th:object="${meal}">

    <input type="text" th:field="*{name}" placeholder="Nazwa" class="form-control mb-4 col-4">

    <input type="text" th:field="*{description}" placeholder="opis" class="form-control mb-4 col-4">

    <textarea th:field="*{recipe}" placeholder="receptura" class="form-control mb-4 col-4">
    </textarea>


    <h2>Składniki:</h2>
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Ilość</th>
            <th>Jednostka</th>
            <th>Miara</th>
            <th>Jednostka miary</th>
        </tr>

        <!-- Pole na składnik -->
        <tr th:each="ingredient, ingredientStat : *{ingredients}">
            <td><input type="text" th:field="*{ingredients[__${ingredientStat.index}__].name}" required></td>
            <td><input type="number" th:field="*{ingredients[__${ingredientStat.index}__].ingredientAmount}" required></td>
            <td>
                <select th:field="*{ingredients[__${ingredientStat.index}__].ingredientUnit}" required>
                    <option th:each="unit : ${T(pl.kowalecki.dietplanner.model.ingredient.ingredientAmount.IngredientUnit).values()}"
                            th:value="${unit}"
                            th:text="${unit.getFullName()}"></option>
                </select>
            </td>
            <td><input type="text" th:field="*{ingredients[__${ingredientStat.index}__].measurementValue}" required></td>
            <td>
                <select th:field="*{ingredients[__${ingredientStat.index}__].measurementType}" required>
                    <option th:each="unit : ${T(pl.kowalecki.dietplanner.model.ingredient.ingredientMeasurement.MeasurementType).values()}"
                            th:value="${unit}"
                            th:text="${unit.getMeasurementName()}"></option>
                </select>
            </td>
        </tr>


        <tr th:if="${#lists.isEmpty(ingredients)}">
            <td><input type="text" th:field="*{ingredients[__${ingredientStat.index}__].name}" required></td>
            <td><input type="number" th:field="*{ingredients[__${ingredientStat.index}__].ingredientAmount}" required></td>
            <td>
                <select th:field="*{ingredients[__${ingredientStat.index}__].ingredientUnit}" required>
                    <option th:each="unit : ${T(pl.kowalecki.dietplanner.model.ingredient.ingredientAmount.IngredientUnit).values()}"
                            th:value="${unit}"
                            th:text="${unit.getFullName()}"></option>
                </select>
            </td>
            <td><input type="text" th:field="*{ingredients[__${ingredientStat.index}__].measurementValue}" required></td>
            <td>
                <select th:field="*{ingredients[__${ingredientStat.index}__].measurementType}" required>
                    <option th:each="unit : ${T(pl.kowalecki.dietplanner.model.ingredient.ingredientMeasurement.MeasurementType).values()}"
                            th:value="${unit}"
                            th:text="${unit.getMeasurementName()}"></option>
                </select>
            </td>
        </tr>

    </table>

    <button type="button" id="addIngredient">Dodaj Składnik</button>
    <br><br>
    <button type="submit">Zapisz Posiłek</button>
</form>


<script th:inline="javascript">
    /* Przekazanie danych enumów do JavaScript */
    var unitOptions = [[${T(pl.kowalecki.dietplanner.model.ingredient.ingredientAmount.IngredientUnit).values()}]];
    var measurementTypeOptions = [[${T(pl.kowalecki.dietplanner.model.ingredient.ingredientMeasurement.MeasurementType).values()}]];
</script>

<script>
    document.getElementById("addIngredient").addEventListener("click", function () {
        var table = document.querySelector("table");
        var newRow = table.insertRow(-1);
        var ingredientIndex = table.rows.length - 1;

        var nameCell = newRow.insertCell(0);
        var nameInput = document.createElement("input");
        nameInput.type = "text";
        nameInput.name = "ingredients[" + ingredientIndex + "].name";
        nameInput.required = true;
        nameCell.appendChild(nameInput);

        var amountCell = newRow.insertCell(1);
        var amountInput = document.createElement("input");
        amountInput.type = "number";
        amountInput.name = "ingredients[" + ingredientIndex + "].ingredientAmount";
        amountInput.required = true;
        amountCell.appendChild(amountInput);

        var unitCell = newRow.insertCell(2);
        var unitSelect = document.createElement("select");
        unitSelect.name = "ingredients[" + ingredientIndex + "].ingredientUnit";
        unitSelect.required = true;
        for (var i = 0; i < unitOptions.length; i++) {
            var option = document.createElement("option");
            option.value = unitOptions[i];
            option.text = unitOptions[i];
            unitSelect.add(option);
        }
        unitCell.appendChild(unitSelect);

        var measurementValueCell = newRow.insertCell(3);
        var measurementValueInput = document.createElement("input");
        measurementValueInput.type = "text";
        measurementValueInput.name = "ingredients[" + ingredientIndex + "].measurementValue";
        measurementValueInput.required = true;
        measurementValueCell.appendChild(measurementValueInput);

        var measurementTypeCell = newRow.insertCell(4);
        var measurementTypeSelect = document.createElement("select");
        measurementTypeSelect.name = "ingredients[" + ingredientIndex + "].measurementType";
        measurementTypeSelect.required = true;
        for (var i = 0; i < measurementTypeOptions.length; i++) {
            var option = document.createElement("option");
            option.value = measurementTypeOptions[i];
            option.text = measurementTypeOptions[i];
            measurementTypeSelect.add(option);
        }
        measurementTypeCell.appendChild(measurementTypeSelect);
    });
</script>
</body>
</html>
